<h1>All Categories</h1>

<h4>Add Users Category</h4>
<%= form_for allusers do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit "Add Category" %>
    </p>
<% end %>